<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block favicons %}
        <link rel="icon" type="image/png" href="{{ asset('assets/img/icon.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="30x30" href="{{ asset('assets/img/Square30x30Logo.png') }}">
        <link rel="icon" type="image/png" sizes="30x30" href="{{ asset('assets/img/Square30x30Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="44x44" href="{{ asset('assets/img/Square44x44Logo.png') }}">
        <link rel="icon" type="image/png" sizes="44x44" href="{{ asset('assets/img/Square44x44Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="71x71" href="{{ asset('assets/img/Square71x71Logo.png') }}">
        <link rel="icon" type="image/png" sizes="71x71" href="{{ asset('assets/img/Square71x71Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="89x89" href="{{ asset('assets/img/Square89x89Logo.png') }}">
        <link rel="icon" type="image/png" sizes="89x89" href="{{ asset('assets/img/Square89x89Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="107x107" href="{{ asset('assets/img/Square107x107Logo.png') }}">
        <link rel="icon" type="image/png" sizes="107x107" href="{{ asset('assets/img/Square107x107Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="142x142" href="{{ asset('assets/img/Square142x142Logo.png') }}">
        <link rel="icon" type="image/png" sizes="142x142" href="{{ asset('assets/img/Square142x142Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="150x150" href="{{ asset('assets/img/Square150x150Logo.png') }}">
        <link rel="icon" type="image/png" sizes="150x150" href="{{ asset('assets/img/Square150x150Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="284x284" href="{{ asset('assets/img/Square284x284Logo.png') }}">
        <link rel="icon" type="image/png" sizes="284x284" href="{{ asset('assets/img/Square284x284Logo.png') }}">
        <link rel="apple-touch-icon" type="image/png" sizes="310x310" href="{{ asset('assets/img/Square310x310Logo.png') }}">
        <link rel="icon" type="image/png" sizes="310x310" href="{{ asset('assets/img/Square310x310Logo.png') }}">
        {% endblock %}

        {% block adminassets %}
            {% if adminbar is defined %}
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">                <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
                <link href="{{ asset('assets/admin/admin.css') }}" rel="stylesheet">
                <script src="{{ asset('assets/admin/admin.js')}}"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
                <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
            {% endif %}
        {% endblock %}

        {% block stylesheets %}
            <link href="{{ asset('assets/css/simple.min.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/main.js') }}"></script>
        {% endblock %}

    </head>
    <body {% if adminbar is defined %} class="yolobar-opened" {% endif %}>
        {% if adminbar is defined %}{{ adminbar|raw }}{% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
